@inherits AdminAssistantLayoutComponentBase<AdminAssistant.UI.Shared.IMainWindowViewModel>
@inject NavigationManager NavigationManager
@using AdminAssistant.UI.Shared;

@*<div id="wrapper">*@
  <div class="col-lg-12 col-sm-12 col-md-12">
    <div class="header-section dock-menu" id="header">
      <ul class="header-list">
        <li id="hamburger" class="icon-menu icon list" @onclick="@this.vm.OnSideBarControlButtonClick"></li>
        <input type="text" placeholder="Search..." class="search-icon list">
        <li class="right-header list">
          @*<div class="horizontal-menu">
            <SfMenu CssClass="dock-menu" Items="@AccountMenuItems" Orientation="@Syncfusion.Blazor.Navigations.Orientation.Horizontal"></SfMenu>
          </div>*@
        </li>
        <li class="right-header list support">Support</li>
        <li class="right-header list tour">Tour</li>
      </ul>
      <AccessControl />
    </div>
    <SfSidebar HtmlAttributes="@(new Dictionary<string, object>() { { "class", "sidebar-menu" } })" Target=".main-content" Width="220px" DockSize="50px" EnableDock="true" @bind-IsOpen="this.vm.Sidebar.ShowContent">
      <ChildContent>
        <div class="main-menu">
          <p class="main-menu-header">Admin Assistant</p>
          <SfDropDownButton Content="@this.vm.ActiveMode.Label" IconCss="@(this.vm.ActiveMode.Icon)" CssClass="e-vertical">
            <DropDownMenuItems>
              @foreach (var mode in this.vm.Modes)
              {
                <DropDownMenuItem Text="@(mode.Label)" IconCss="@(mode.Icon)" />
              }
            </DropDownMenuItems>
          </SfDropDownButton>
          <div>
            <SfMenu CssClass="dock-menu" Items="this.vm.Modules" Orientation="@Syncfusion.Blazor.Navigations.Orientation.Vertical">
              <MenuFieldSettings ItemId="@(nameof(ModuleSelectionItem.ID))" Text="@(nameof(ModuleSelectionItem.Label))" Url="@(nameof(ModuleSelectionItem.Route))" IconCss="@(nameof(ModuleSelectionItem.Icon))" />
            </SfMenu>
          </div>
        </div>
      </ChildContent>
    </SfSidebar>

    <div class="main-content" id="maintext">
      <div class="content">
        @Body
      </div>
    </div>

  </div>
@*</div>*@
