@inherits AdminAssistantLayoutComponentBase<AdminAssistant.UI.Shared.IMainWindowViewModel>

<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
            <Bar Mode="BarMode.VerticalInline"
                 CollapseMode="BarCollapseMode.Small"
                 Breakpoint="Breakpoint.Desktop"
                 NavigationBreakpoint="Breakpoint.Tablet">
                <BarBrand>
                    <BarItem>
                        <BarLink To="/">
                            <BarIcon IconName="IconName.Home" />
                            Home
                        </BarLink>
                    </BarItem>
                </BarBrand>
                <BarToggler />
                <BarMenu>
                    <BarStart>
                        @foreach (var item in this.vm.Modules)
                        {
                            <BarItem>
                                <BarLink To="@item.Route" Title="@item.Label">
                                    <BarIcon IconName="@(@item.Icon)" /> @item.Label
                                </BarLink>
                            </BarItem>
                        }
                    </BarStart>
                </BarMenu>
            </Bar>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed>
            <Container Fluid="true">
                <Bar Breakpoint="Breakpoint.Desktop">
                    <BarBrand>
                        Admin Assistant
                    </BarBrand>
                    <BarMenu>
                        <BarEnd>
                            <BarItem>
                                <ThemeToggle />
                            </BarItem>
                        </BarEnd>
                    </BarMenu>
                </Bar>
            </Container>
        </LayoutHeader>
        <LayoutContent>
            <Container Fluid="true">
                @Body
            </Container>
        </LayoutContent>
        <LayoutFooter Fixed>
            <div>@this.vm.FooterText</div>
        </LayoutFooter>
    </Layout>
</Layout>
