@inherits AdminAssistantComponentBase<AdminAssistant.UI.Modules.Accounts.BankAccountEditDialog.IBankAccountEditDialogViewModel>

<SfDialog @bind-Visible="@this.vm.ShowDialog" Width="500px" IsModal="true" ShowCloseIcon="true">
  <DialogTemplates>
    <Header><div>@this.vm.HeaderText</div></Header>
    <Content>
      <div class="cl-account-edit-dialog">
        <div class="cl-row1">
          <SfTextBox @bind-Value="@this.vm.BankAccount.AccountName" Placeholder="Account name" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
          <SfCheckBox @bind-Checked="@this.vm.BankAccount.IsBudgeted" Label="On budget"></SfCheckBox>
        </div>

        <div class="cl-row2">
          <div class="cl-label">Account type</div>
          <div class="cl-account-type"><p-dropdown autoWidth="false" [options]="AccountTypes" [(ngModel)]="NewAccount.AccountType" optionLabel="Description" placeholder="{{ DropdownPlaceholder }}" appendTo="body"></p-dropdown></div>
          <div class="cl-label">Opened on</div>
          <div class="cl-opened-on">
            <SfDatePicker @bind-Value="@this.vm.BankAccount.OpenedOn" TValue="DateTime" Format="dd-MMM-yyyy" />
          </div>
        </div>

        @*<div class="cl-row3">
            <div class="cl-label">Currency</div>
            <div class="cl-currency"><p-dropdown autoWidth="false" [options]="Currencies" [(ngModel)]="NewAccount.Currency" optionLabel="Symbol" appendTo="body"></p-dropdown></div>
            <div class="cl-label">Opening balance</div>
            <div class="ui-inputgroup"><span class="ui-inputgroup-addon">$</span><input pInputText type="number" class="cl-opening-balance" [(ngModel)]="NewAccount.Balance"></div>
          </div>*@
      </div>
    </Content>
  </DialogTemplates>
  <DialogAnimationSettings Effect="@DialogEffect.Zoom" Duration=400 />
  <DialogButtons>
    <DialogButton OnClick="@this.vm.OnSaveButtonClick">
      <DialogButtonModel Content="Save" IsPrimary="true"></DialogButtonModel>
    </DialogButton>
    <DialogButton OnClick="@this.vm.OnCancelButtonClick">
      <DialogButtonModel Content="Cancel"></DialogButtonModel>
    </DialogButton>
  </DialogButtons>
</SfDialog>

@code
{
    protected override async Task OnInitializedAsync() => await this.vm.InitializeAsync();
}
