@inject AdminAssistant.UI.Modules.Accounts.BankAccountEditDialog.IBankAccountEditDialogViewModel vm

<h3>BankAccountEditDialog</h3>

@*<SfDialog @bind-Visible="@this.vm.ShowAccountEditDialog" Width="500px" IsModal="true" ShowCloseIcon="true">*@

  <SfDialog @bind-Visible="@IsVisible" Width="500px" IsModal="true" ShowCloseIcon="true">
    <DialogTemplates>
      <Header> Dialog </Header>
      <Content> Modal Dialog enabled with Zoom effect</Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="@Effects" Duration=400 />
    <DialogButtons>
      <DialogButton OnClick="@OnClose">
        <DialogButtonModel Content="Close" IsPrimary="true"></DialogButtonModel>
      </DialogButton>
      @*<DialogButton OnClick="@this.vm.OnSaveButtonClick">
        <DialogButtonModel Content="Save" IsPrimary="true"></DialogButtonModel>
      </DialogButton>
      <DialogButton OnClick="@this.vm.OnCancelButtonClick">
        <DialogButtonModel Content="Cancel"></DialogButtonModel>
      </DialogButton>*@
    </DialogButtons>
  </SfDialog>
  <SfButton @onclick="@OnTestDialog">TestDialog</SfButton>

  @code {

    private bool IsVisible { get; set; } = false;

    public DialogEffect Effects = DialogEffect.Zoom;
    private void OnClose()
    {
      this.IsVisible = false;
    }
    private void OnTestDialog()
    {
      this.IsVisible = true;
    }
  }
